body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0;
  margin: 0;
}

#container {
  background-color: #e9edee;
}

#header {
  background-color: #222f3f;
  padding: 10px 20px;
  height: 35px;
}

#nav {
  background-color: #364759;
  margin: -15px auto;
  padding: 0 20px;
  color: white;
  font-size: 0.8em;
}

#orange {
  background-color: #f56600;
  text-align: center;
  color: white;
  font-size: 0.8em;
  margin: 40px 20px;
}

#holidaygg {
  margin: -25px 20px;
  padding: 30px 20px;
  text-align: center;
  color: white;
  background-image: url("../img/bg-image.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#box {
  height: 440px;
  padding: 1px 15px;
  margin: 40px 20px;
  background-color: white;
}

#sin {
  margin: 0 20px;
  font-size: 0.9em;
}
#des {
  margin: 0 -10px;
  font-size: 0.7em;
  color: #225c65;
}

#immagini {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#uno {
  height: 350px;
  width: 300px;
  border-radius: 20px;
  background-image: url("../img/img_1.jpg");
  float: left;

  background-position: center;
  background-size: cover;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.2);
}
#due {
  height: 350px;
  width: 300px;
  border-radius: 20px;
  background-image: url("../img/img_2.jpg");
  background-position: center;
  background-size: cover;
  float: left;

  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.2);
}
#tre {
  height: 350px;
  width: 300px;
  border-radius: 20px;
  background-image: url("../img/img_3.jpg");
  float: left;

  background-position: center;
  background-size: cover;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.2);
}
#quattro {
  height: 350px;
  width: 300px;
  border-radius: 20px;
  background-image: url("../img/img_4.jpg");
  float: left;

  background-position: center;
  background-size: cover;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.2);
}

#secondobox {
  text-align: center;
}

#box2 {
  height: 400px;
  margin: 40px 20px -15px 20px;
  background-color: white;
  background-image: url("../img/img_9.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: content-box;
}

#sin2 {
  margin: 0 20px;
  font-size: 0.9em;
}
#des2 {
  margin: 0 -10px;
  font-size: 0.7em;
  color: #225c65;
}

#box3 {
  height: 400px;
  padding: 1px 15px;
  margin: 40px 20px -15px 20px;
  background-color: white;
  background-image: url("../img/img_10.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: content-box;
}

#foot {
  font-size: 0.5em;
  color: white;
  text-align: center;
  text-decoration: underline;
  background-color: #364759;
}

#foot2 {
  margin: -13px;
  padding: 30px 0;
  background-color: #222f3f;
}
