$mainColor: rgb(113, 18, 255);
$secondaryColor: rgb(15, 208, 131);
$thirdColor: rgb(242, 242, 242);
$fourthColor: white; 
$fifthColor: rgba(255, 255, 255, 0.469);
$fontStack: 'Inter', sans-serif;;
$borderButton: 5px;
$paddingButton: 10px;
$buttonBorderstyle: none;
$fontWeight1: 400;
$fontWeight2: 500;
$fontWeight3: 600;