html, body {
    margin: 0;
    padding: 0 auto;
    font-size: 1rem;
    background-color: #415fe1;
    font-family: 'Roboto', 'sans-serif';
    color: white;
    line-height: 1;
    box-sizing: border-box; 

}

#container {
    margin: 0;
    padding: 0 200px;




}

#testo2 {
    padding: 0 200px;

}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

#output {
    margin: 0;
    padding: 0 auto;
    line-height: 0;
    font-weight: bold;
}
