<div class="container mt-5">
  <form #form="ngForm" (ngSubmit)="accedi(form)">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" class="form-control" required ngModel>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" required ngModel>
    </div>
    <div class="d-flex justify-content-between align-items-baseline">
    <button type="submit" class="btn btn-primary mt-3" [disabled]="form.invalid">accedi</button>
    <p>Se non hai un account <a [routerLink]="['/registrazione']">registrati</a></p>
  </div>
  </form>
</div>
